.btn{
	font-family: 'Inter', sans-serif;
	letter-spacing: 0;
	font-weight: 500;
	padding: .438rem 1rem;
}
.btn-lg{
	padding: .657rem 1rem;
}
.btn-lg, .btn-group-lg > .btn{
	font-size: 18px;
}
.btn-group-sm>.btn, .btn-sm{
	padding: .4rem .8rem;
	font-size: 14px;
}
.btn:focus, .btn.focus{
	box-shadow: none !important;
}
.btn-rounded{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}