.invoice-wrap{
	overflow: auto;
}
.invoice-box{
	background: #ffffff;
	width: 800px;
	margin: 0 auto;
	padding: 20px;
}
.invoice-header	{
	padding-bottom: 30px;
}
.invoice-desc .invoice-sub{
	width: 40%;
	float: left;
	padding: 8px 15px;
}
.invoice-desc .invoice-rate{
	width: 20%;
	float: left;
	padding: 8px 15px;
}
.invoice-desc .invoice-hours{
	width: 20%;
	float: left;
	padding: 8px 15px;
}
.invoice-desc .invoice-subtotal{
	width: 20%;
	float: right;
	padding: 8px 15px;
}
.invoice-desc .invoice-desc-head{
	background: #eaeaea;
	font-weight: 500;
}
.invoice-desc .invoice-desc-body{
	padding-top: 15px;
	min-height: 400px;
}
.invoice-desc .invoice-desc-footer .invoice-desc-body{
	min-height: 50px;
}
.invoice-desc .invoice-desc-body ul li{
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 5px;
}