
.product-list{}
.product-list ul li{
	margin-bottom: 30px;
}
.product-box{
	background: #ffffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
	-moz-box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
	box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
	height: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/*.product-list ul li:hover .product-box{
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
}*/
.producct-img{
	overflow: hidden;
}
.producct-img img{
	position: relative;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.product-list ul li:hover .producct-img img{
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.product-caption{
	padding: 20px;
}
.product-caption h4{
	font-size: 18px;
	margin-bottom: 8px;
}
.product-caption h4 a{
	color: #131e22;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.product-caption .btn{
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
}
.price{
	font-size: 15px;
	font-weight: 600;
	padding-bottom: 15px;
	color: #78909c;
}
.price ins{
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
	color: #131e22;
}
.price del{
	font-size: 15px;
}
.product-slider{
	margin-bottom: 20px;
}
.slider-arrow .slick-arrow {
	position: absolute;
	bottom: 0;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	border: 1px solid #1b00ff;
	background: #1b00ff;
	border-radius: 0;
	cursor: pointer;
	font-size: 0;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.slider-arrow .slick-arrow:hover {
	border-color: #2a2d31;
}
.slider-arrow .slick-arrow:hover:before {
	color: #ffffff;
}
.slider-arrow .slick-arrow:before {
	font-family: "dropways";
	font-size: 16px;
	color: #ffffff;
	line-height: 38px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.slider-arrow .slick-arrow.slick-prev {
	z-index: 12;
	left: 15px;
}
.slider-arrow .slick-arrow.slick-prev:before {
	content: "\eabc";
}
.slider-arrow .slick-arrow.slick-next {
	right: 15px;
}
.slider-arrow .slick-arrow.slick-next:before {
	content: "\eabd";
}
.product-slide-nav{
	padding: 10px;
}
.product-detail-desc{
	font-size: 16px;
	line-height: 1.5;
	/*color: #78909c;*/
}