.timeline{}
.timeline ul{
	position: relative;
}
.timeline ul:before{
	content: "";
	width: 3px;
	height: 100%;
	background: #1b00ff;
	position: absolute;
	left: 150px;
}
.timeline ul li{
	position: relative;
	padding-left: 180px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.timeline ul li:before{
	content: "";
	position: absolute;
	top: 30px;
	left: 142px;
	width: 18px;
	height: 18px;
	background: #ffffff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0px 0px 0px 3px #1b00ff;
	-moz-box-shadow: 0px 0px 0px 3px #1b00ff;
	box-shadow: 0px 0px 0px 3px #1b00ff;
}
.timeline .timeline-date{
	position: absolute;
	left: 0;
	top: 20px;
	width: 120px;
	background: #1b00ff;
	color: #ffffff;
	font-size: 16px;
	padding: 6px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}